body {
  margin: 0;
  font-size: 16pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background: url(../img/lofi-sky.jpeg) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.Container {
  margin: 0 auto;
  padding: 80px 20px 0 20px;
  max-width: 650px;
  width: 95%;
}

header {
  padding: 10px 0;
  margin-bottom: 40px;
  border: 1.5px solid white;
  color: white;
  border-radius: 6px;
}

h1 {
  text-align: center;
}

input,
button {
  font: inherit;
  box-sizing: border-box;
}

input[type="submit"],
button {
  cursor: pointer;
}

.App h1:before,
h1:after {
  content: "💭";
  margin: 0 0.5em;
}

.AddThoughtForm {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px 0;
}

.AddThoughtForm input {
  padding: 0.8rem;
  border-radius: 6px;
}

.AddThoughtForm button {
  padding: 0.85rem 1.2rem;
  background: #8379c2;
  border: none;
  color: white;
  border-radius: 6px;
}

.AddThoughtForm button:hover {
  background: #beb7eb;
  color: #8379c2;
}

.AddThoughtForm input[type="text"] {
  flex-grow: 1;
  margin-right: 0.5rem;
}

.thoughts {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.Thought {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  background-color: #eee;
}

.Thought .remove-button {
  font-size: 80%;
  float: right;
  border: 0;
  border-radius: 6px;
  background: transparent;
}

.Thought .remove-button:hover {
  color: #fff;
  background-color: #beb7eb;
}

#Error::placeholder {
  color: #ff1476;
  opacity: 1;
}
